<div class="sidenav">
    <div class="logo-container">
        <div class="logo-text">
        </div>
        <button class="btn-close">
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a href="" class="side-nav-link">
                <i class="sidenav-link-icon">
                    <span class="sidenav-link-text">
                        
                    </span>
                </i>
            </a>
        </li>
    </ul>
</div>